@if (pokemon !== undefined) {
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{pokemon.name}}
      </h1>
      <div class="w-full" >
        <h2 class="leading-relaxed"> Statisitques :</h2>
          <div>
            <div class="w-full"> 
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">PV :</p>
                <div class="h-5 rounded-md bg-green-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.HP)"></div>
              </div>
              
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">Attaque :</p>
                <div class="h-5 rounded-md bg-red-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.attack)"></div>
              </div>
              
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">Défense :</p>
                <div class="h-5 rounded-md bg-yellow-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.defense)"></div>
              </div>
              
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">Attaque Spéciale :</p>
                <div class="h-5 rounded-md bg-indigo-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.special_attack)"></div>
              </div>
              
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">Défense Spéciale :</p>
                <div class="h-5 rounded-md bg-blue-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.special_defense)"></div>
              </div>
              
              <div class="flex w-full items-center mb-2">
                <p class="leading-relaxed w-1/3 text-right pr-4">Vitesse :</p>
                <div class="h-5 rounded-md bg-purple-500 transition-all duration-300" [style.width]="getStatWidth(pokemon.stats.speed)"></div>
              </div>
              

            </div>
        </div>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" [src]="pokemon.image">
    </div>
  </div>
</section>
}
